h1 {
  font-family: "lobster", cursive;
  font-size: 80px;
  text-shadow: 2px 2px #072A46;
  margin: 0;
}

body {
  text-align: center;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: helvetica;
  animation-name: backgroundMove;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

p {
  font-size: 22px;
  margin: 0;
}

.img-circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}

.img-circle img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  background-color: #072a46;
  text-align: center;
  color: white;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

@media (max-width: 500px) {
  body {
    margin: 0 auto;
    color: black;
  }
}